@mixin font-face($font_family, $file_path, $weight)
    @font-face
        font-family: $font_family
        font-weight: $weight
        font-style: normal
        font-display: auto
        src: url('~@/assets/fonts/#{$file_path}.woff') format('woff'), url('~@/assets/fonts/#{$file_path}.woff2') format('woff2')

@include font-face('Gotham Pro', 'gothampro', 400)

.title
    text-transform: uppercase
    font-weight: 600
    font-size: 24px
    line-height: 33px
