@mixin font-face($font_family, $file_path, $weight)
    @font-face
        font-family: $font_family
        font-weight: $weight
        font-style: normal
        font-display: auto
        src: url('~@/assets/fonts/#{$font_family}/#{$file_path}.woff') format('woff'), url('~@/assets/fonts/#{$font_family}/#{$file_path}.woff2') format('woff2')

@include font-face('Gotham Pro', 'gothampro', 400)
@include font-face('Gotham Pro', 'gothampro_medium', 500)
@include font-face('Gotham Pro', 'gothampro_bold', 700)
@include font-face('Bebas Neue', 'BebasNeue', 400)
@include font-face('Oswald', 'Oswald-SemiBold', 600)

body
    font-family: 'Gotham Pro', sans-serif
    overflow: hidden

button
    background-color: transparent
    cursor: pointer

#app
    font-family: 'Gotham Pro'
    background-image: url('~@/assets/images/bg.jpg')
    background-size: cover
    background-position: center right
    height: 100vh
    width: 100vw
    background-repeat: no-repeat
    display: flex
    align-items: center
    justify-content: center

.close-btn
    border: 1px solid #26294C
    border-radius: unit(6)

